.menu {
	position: relative;
	width: 1020px;
	height: 100px;
	background: black;
	margin: 0 auto;
}
.menu h2{
	position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	left: 100px;
	top: 35px;
}
.menu strong{
	color: yellow;
}
.menu ul{
	position: absolute;
	left:350px;
	top: -16px;
	list-style: none;
}
.menu ul li{
	float: left;
	display: block;
	width: 120px;
	height: 100px;
	background: black;
}
.menu ul li a{
	position: absolute;
	top: 40px;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.menu ul li a:hover{
	background: #FAFD11;
	border-radius: 10%;
}
@media screen and (max-width: 480px){
	.menu{
		position: relative;
		width: 100%;
		height: 200px;
	}
	.menu h2{
		position: absolute;
		left: 15%;
	}
	.menu ul {
		width: 100%;
		left: 170px;
		top: 50px;
	}
	.menu ul li{
		margin-top: 10px;
		clear: both;
		width: 15%;
		height: 5px;
		background: red;
	}	
	.menu ul li a{
		display: block;
		width: 10%;
		height: 5px;
		background: red;
		text-indent: -9999px;
	}
	.menu ul li.bon{
		opacity: 0;
	}
	.menu ul li.nam{
		opacity: 0;
	}
}   
@media screen and (max-width:568px){
	.menu{
		position: relative;
		width: 100%;
		height: 150px;
	}

	.menu ul{
		margin: 0;
		padding: 0;
		position: absolute;
		margin-top: 30px;
		left: 0px;
		width: 100%;
	}
	.menu ul li{
		width: 20%;
		margin-left: 180px;
	}
	.menu ul li a{
		display: block;
		width: 13%;
		padding-left: 15px;
	}
	.menu h2{
		padding-left: 80px;
		padding-top: 15px;
	}
	.menu ul li a:hover{
		border-radius: 10px;
		background: yellow;
	}
}
.slideshow{
	margin: 0 auto;
	width: 1020px;
	height: 300px;
	background: black;
}
.slideshow .box{
	float: left;
	width: 30%;
	height: 100%;
	margin: 0 0 0 2.5%;
	overflow: hidden;
}
.box h3.text{
	float: left;
	width: 100%;
	height: 20%;
	margin: 0;
	color: white;
	text-align: center;
	line-height: 90px;
	font-family: sans-serif;
	text-transform: uppercase;
}
.box img.pic{
	width: 10%;
	height: 10%;
	margin: 0 0 0 45%;
}
.box h3.text3{
	float: left;
	width: 100%;
	height:10%;
	margin: 0;
	text-align: center;
	color: #eff252;
	font-size: 15px;
}
.box p{
	float: left;
	width: 80%;
	height: 30%;
	margin: 0 0 0 10%;
	text-indent: 5px;
	color: white;
}
.box button{
	float: left;
	width: 20%;
	height: 10%;
	border:0px;
	margin-left: 40%;
	color: white;
	background: black;
}
.slideshow .box:hover img{
	display: none;
}
.slideshow .box p.p{
	display: none;
}
.slideshow .box:hover p.p {
	display: block;
}
@media screen and (max-width: 576px){
	.slideshow{
		width:100%;
		height: auto;
		background:#000000;
	}
	.slideshow .box{
		float: left;
		width: 100%;
		background: black;
	}
}
.main2{
	clear: both;
	width: 1020px;
	height: 450px;
	position: relative;
	transition-duration: 1s;
	margin: 0 auto
}
.main2 img{
	width: 100%;
	height: 100%;
}
.main2 .ssss{
	width: 50%;
	height: 280px;
	position: absolute;
	top: 80px;
	left: 8%;
	transition-duration: 1s;
}
.main2 .sss h3{
	line-height: 10px;
	color: #EFF803;
	font-family: helvetica;
	transition-duration: 1s;
	color: white;
}
.main2 .sss h1{
	line-height: 10px;
	color: #EFF803;
	font-family: helvetica;
	transition-duration: 1s;
	font-size: 70px;
	color: white;
}
.main2 .sss h2{
	line-height: 10px;
	color: #EFF803;
	font-family: helvetica;
	transition-duration: 1s;
	font-size: 35px;
	color: white;
}
.main2 input{
	float: left;
	display: block;
	width: 45%;
	height: 60px;
	background: #FFFFFF;
	transition-duration: 1s;
}
.main2 input.RRR{
	background: black;
	width: 30%;
	color: white;
}
.main2 input:hover{
	height: 70px;
	font-size: 19px;
}
@media screen and (max-width: 576px){
	.main2{
		width: 100%;
		height: 350px;
	}
	.main2 .ssss{
		width: 50%; 
	}
	.main2 h3{
		font-size: 18px;
	}
	.main2 h1{
		font-size: 40px;
	}
	.main2 h2{
		font-size: 25px;
	}
	.main2 input{
		float: left;
		display: block;
		width: 45%;
		height: 40px;
		background: #FFFFFF;
		transition-duration: 1s;
	}
	.main2 input.RRR{
		background: black;
		width: 30%;
		color: white;
	}
	.main2 input:hover{
		height: 40px;
		font-size: 10px;
	}

}
.slideshow{
	margin: 0 auto;
	width: 1020px;
	height: 300px;
	background: black;
}
.slideshow .box{
	float: left;
	width: 30%;
	height: 100%;
	margin: 0 0 0 2.5%;
	overflow: hidden;
}
.box h3.text{
	float: left;
	width: 100%;
	height: 20%;
	margin: 0;
	color: white;
	text-align: center;
	line-height: 90px;
	font-family: sans-serif;
	text-transform: uppercase;
}
.box img.pic{
	width: 10%;
	height: 10%;
	margin: 0 0 0 45%;
}
.box h3.text3{
	float: left;
	width: 100%;
	height:10%;
	margin: 0;
	text-align: center;
	color: #eff252;
	font-size: 15px;
}
.box p{
	float: left;
	width: 80%;
	height: 30%;
	margin: 0 0 0 10%;
	text-indent: 5px;
	color: white;
}
.box button{
	float: left;
	width: 20%;
	height: 10%;
	border:0px;
	margin-left: 40%;
	color: white;
	background: black;
}
.slideshow .box:hover img{
	display: none;
}
.slideshow .box p.p{
	display: none;
}
.slideshow .box:hover p.p {
	display: block;
}
@media screen and (max-width: 576px){
	.slideshow{
		width:100%;
		height: auto;
		background:#000000;
	}
	.slideshow .box{
		float: left;
		width: 100%;
		background: black;
	}
}
.copyright{
	clear: both;
	width: 1020px;
	height: 50px;
	background: #FEDE05;
	margin: 0 auto;
}
.copyright a{
	float: left;
	margin-left: 10%;
	text-decoration: none;
	color: white;
	line-height: 50px;
}
.copyright p{
	float: left;
	margin-left: 20%;
	color: white;
	font-size: 18px;
	line-height: 15px;
}
.main4{
	clear: both;
	margin: 0 auto;
	width: 1020px;
	height: 600px;
}
.main4 h4{
	display: block;
	margin-left: 36%;
	font-size: 30px;
}
.main4 p{
	font-size: 24px;
	margin-left: 24%;
}
.main4 .pic{
	float: left;
	margin-top: 20px;
	width: 100%;
	height: 400px;

}
.pic .anh{
	float: left;
	width: 22.4%;
	height: 100%;
	margin-left: 2%;
}
.pic .anh img{
	float: left;
	width: 100%;
	height: 50%;
	border:#D6DC2A solid 4px;
	overflow: hidden;
}
.main4 .pic .anh h4{
	float: right;
	width: 150px;
	font-size: 20px;
	margin-right:10%; 
	margin-top:3%; 
}
.anh .line{
	float: left;
	width: 70px;
	height: 4px;
	background: #D6DC2A;
	margin-left: 35%;
}
.anh p{
	margin: 0;
	float: left;
	font-size: 15px;
	margin-left: 4%;

}
.anh a{
	float: left;
	text-decoration: none;
	background: lightblue;	
	margin-left: 10px;
	display: block;
	width: 80%;
	height: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 80px;
	line-height: 50px;
	text-align: center;
	margin-left: 10%;
	color: white;
	background: #D5B255;
}
.pic .anh:hover{
	margin: 0;
	transition-duration: 2s;
	height:320px;
	background:#8CFF8C;
	margin-left: 40px;
	transform:  scale(1.2) ;
}
.pic .anh:hover img{
	height: 0px;
	border: none;
	overflow: hidden;
}
.pic .anh a:hover{
	transition-duration: 2s;
	height:80px;
	margin-top: 50px;
	background:#A060F7;
	overflow: hidden;
	line-height: 80px;
	transform:  scale(1.2) ;
}
@media screen and (max-width:480px){
	.main4{
		width: 100%;
		height: auto;
	}	
	.main4 img{
		font-size: 50px;
	}
	.main4 .pic{
		float: left;
		width: 100%;
		margin-left: 10%;
	}
	.pic .anh{
		width: 60%;
		height: 300px;
		margin-top: 10%;
	}
	.pic .anh h4{
		float: right;
		margin-right: 10%;
	}
}
@media screen and (max-width:576px){
	.main4{
		width: 100%;
		height: 1000px;
	}
	.main4 p{
		margin-left: -1%;
	}	
	.main4 .pic{
		float: left;
		width: 100%;
		margin-left: 10%;
	}
	.pic .anh{
		width: 60%;
		height: 600px;
		margin-top: 10%;
	}
	.pic .anh h4{
		float: right;
		margin-right: 10%;
	}
}
.city{
	width: 1020px;
	height: 400px;
	margin: 0 auto;
}
.city .ke{
	width: 480px;
	height: 80px;
	margin: 0 auto;
}
.city .ke .lie1{
	float: left;
	margin-top: 5px;
	width: 10%;
	height: 2px;
	background: #FE9500;
	border-radius: 2px;
	margin-left: 200px;
}
.city .ke .lie2{
	float: left;
	width: 1%;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #FE9500; 
}
.city .ke .lie3{
	float: left;
	margin-top: 5px;
	width: 10%;
	height: 2px;
	background: #FE9500;
	border-radius: 2px;
}
.city .ke h2{
	clear: both;
	margin: 0;
	font-style: unset;
	text-align: center;
}
.city .ke p.title{
	clear: both;
	margin: 0;
	font-style: unset;
	text-align: center;
}
.city .funciton{
	width: 90%;
	height: 300px;
	margin-left: 5%;
}
.city .funciton .fuc{
	width: 23%;
	height: 300px;
	float: left;
	margin-left: 1.7%;
	position: relative;
	border: 1px solid gray;

}
.city .funciton .fuc img{
	display: block;
	width: 100%;
	height: 120px;
	overflow: hidden;
	transition: .5s ease;
}
.city .funciton .fuc h3{
margin: 0;
text-align: center;
line-height: 50px;
}

.city .funciton .fuc p.fuci{
	margin: 0;
	display: block;
	width: 50%;
	height: 40px;
	float: left;
}
.city .funciton .fuc p.mna{
	text-align: right;
}
.city .funciton .fuc a{
	text-decoration: none;
	color: gray;	
}
.city .funciton .fuc a.READ{
	text-decoration: none;
	display: block;
	width: 60%;
	height: 40px;
	background: #282828;
	position: absolute;
	bottom: 10px;
	left: 30%;
	text-align: center;
	line-height: 40px;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
	border-top-right-radius: 80px;
	color: white;
		overflow: hidden;
	transition: .5s ease;
}
.city .funciton .fuc a.READ:hover{
	background: #4B4B4B;
	text-decoration: none;
}
.city .funciton .fuc a:hover{
	text-decoration: underline;
}
.city .funciton .fuc:hover img{
	height: 0px;
}
.city .funciton .fuc:hover a.READ{
	bottom: 50px;
}
.city .funciton .fuc:hover{
	background: 	
}
@media screen and (max-width: 480px){
	.city {
		width: 100%;
	}
	.city .funciton .fuc{
		clear: both;
		margin: 0 auto;
		margin-top: 10px;
	}
	.city .funciton .fuc{
		width: 100%;
	}
	.city h2{
		margin: 0 auto;
		font-style: unset;
		text-align: center;
		position: absolute;
		top: 15px;
		left: 32%;
	}
	.city p.title{
		margin: 0;
		font-style: unset;
		text-align: center;
	}
}
@media screen and (max-width: 568px){
	.city {
		width: 90%;
		margin-top: 1670px;
		height: 1000px;
		margin-left: 5%;
	}
	.city .funciton{
		width: 100%;	

	}
	.city .funciton .fuc{
		margin-top: 10px;
		width: 100%;
	}
	.city .lie1{
	width: 10%;
	height: 2px;
	background: #FE9500;
	border-radius: 2px;
	}
	.city .lie2{
		margin:0 auto;
	}
	.city .lie3{
		width: 10%;
		height: 2px;
		background: #FE9500;
		border-radius: 2px;
	}
	.city h2{
		margin: 0 auto;
		font-style: unset;
		text-align: center;
	}
	.city p.title{
		margin: 0;
		font-style: unset;
		text-align: center;
	}
}

